@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}

:root {
    --main-bg: #1e272e;
    --main-color: #0097e6;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

/* body{
    height: 100vh;
    display: flex;
    flex-direction: column;
} */

.row{
    margin: 0;
}

.main_menu{
    background-color: var(--main-bg);
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;

    z-index: 1;

    background-color: var(--main-bg);
    padding: 1rem 8rem;
}

.navtitle{
    font-size: 2.5rem;
    font-weight: 600;
}

.navbar a{
    color: #fff;
    font-size: 1.8rem;
}

.navbar li{
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.navbar a:visited{
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar-toggler {
    background-color: grey;
    width: 4rem;
    height: 3rem;
}

.snow{
    transition: all linear;
    animation: rotation 2s linear infinite;
    color: var(--main-color);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



/* main header */


.main_header_left{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid black; */
}

.main_header_left p{
    font-size: 2rem;
}

.main_header_left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}

.main_header_left .text_clr {
    color: var(--main-color);
}

.main_header_left button {
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}

.main_header_left button:hover {
    box-shadow: 0 8px 6px -6px var(--main-color);
}

.main_header_right{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid black; */
}

.carousel-img{
    height: 60rem;
}

/* footer code */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;


    width: 100%;
    background-color: var(--main-bg);
    margin-top: auto;
}

footer p {
    margin: 0;
    text-align: center;
    color:#fff;
    line-height: 6rem;
    font-size: 1.4rem;
}

@media (max-width: 768px) {
    .main_header_left {
        height: auto;
        padding: 15rem 0rem 0rem;
    }
    .main_header_right{
        height: 40rem;
    }
    .carousel-img{
        height: 45rem;
    }
    .navbar{
        padding: 1rem 5rem;
    }
}


.err-img{
   height: 40rem;
}

.err-con{
    height: 100vh;
    width: 100%;
    border: 5px solid black;
    padding-top: 20rem;
    display: flex;
    justify-content: center;
 }





 /* weather */

.tempInformation {
    width: 30rem;
    margin: auto;
    height: 30rem;
    background-color: #323544;
    border-radius: 1rem;
    font-family: "Roboto", sans-serif;
}
.top_layer {
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem 0;
}
   
.top_layer p {
    color:#fff;
    font-weight: 300;
    padding: 3rem;
    font-size: 1.5rem;
}

.main_layer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.main_layer #city_name {
    padding: 2rem 0;
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}

.main_layer .middle_layer {
    display: flex;
    justify-content: space-around;
    color:#fff;
}
.main_layer .middle_layer p,
.main_layer .middle_layer .fa {
    font-size: 7rem;
    font-weight: 900;
}

.fa {
    color: #009ad8;
}

sup{
    font-size: 6rem;
    margin-top: -2rem;
}

.data_hide{
    visibility: hidden;
    transition: all 0.3s linear;
}

    
/* weather input */

.main_content{
    z-index: -1;
}

.temp_form {
    width: 50%;
    position: relative; 
    margin: 10rem auto 4rem;
}

@media (max-width: 768px) {
    .temp_form {
        min-width: 80%;
    }
    .about-img{
        min-width: auto;
        height: 50vh;
    }
}
        
.temp_form input[type="text"] { 
    width: 100%; 
    padding: 2rem 5rem 2rem 2rem; 
    background: #1e202b;
    color: white; 
    outline: none;
    border: none; 
    font-size: 1.7rem;
    border-radius: 4rem; 
}
        
::placeholder {
    color: #bfc1c8;
}

.temp_form input[type="submit"]{
    position: absolute;
    top: 7px;
    right: 7px; 
    bottom: 7px;
    border: none;
    background: #009ad8; 
    padding:0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
}

.temp_form input[type="submit"]:hover{
    color: #009ad8;
    background-color:#fff;
}